module.exports = function(grunt) {

  var globalConfig = <%= projectConfigVariables %>;

  grunt.initConfig({
    pkg: grunt.file.readJSON('package.json'),

    <%= gruntTasks %>
  });

  require('load-grunt-tasks')(grunt);
};