module.exports = function(grunt) {
  grunt.initConfig({
    pkg: grunt.file.readJSON('package.json'),

    <%= gruntTasks %>
  });

  require('load-grunt-tasks')(grunt);

  grunt.registerTask('default', ['uglify']);

};